<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>
		This edition of Splurty was built by <a href="http://NehemiahAndrews.github.io">Nehemiah Andrews </a> in order to elicit a bit of a chuckle from fellow Star Wars junkies.  Life's too short not to laugh.
	</p>
</div>

<div class="col-xs-12 col-sm-4">
	<%= image_tag 'nehemiah.jpeg', :class => 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
	<h2 class="text-center">Nehemiah Andrews</h2>
	<br />
	<p>
		I am a tech-oriented problem solver with deep-nerd tendencies.  I appreciate tech and gadgets not only for their utility, but also for their symbolic role in our world.  In the information age computing devices are tools, not unlike those of previous eras, and I hope to share as much knowledge about these amazing tools with as many people as possible.
	</p>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />