<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>
		This edition of Splurty was built by <a href="http://NehemiahAndrews.github.io">Nehemiah Andrews </a> in order to elicit a bit of a chuckle from fellow Star Wars junkies.  Life's too short not to laugh.  Or to enjoy Star Wars.
	</p>
	<br />
	<br />
	<br />
</div>

<div class="col-xs-12 col-sm-4 " >
	<%= image_tag 'nehemiah.jpeg', :class => 'img-responsive' %>
	<br />
	<br />
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
	<h2 class="text-center">Nehemiah Andrews</h2>
	<br />
	<p class="text-center">
		I am a tech-oriented problem solver and a bit of a nerd.  I have a passion for gadgets, tech, and learning in general and love sharing any knowledge I acquire.  I've worked in communications for years and am currently working on adding web development to my problem solving tool kit. 
	</p>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />